<div class="middle_right_frame1">
   <h1>Hello</h1>
   <p class="middle_right_frame1_content"><%= @info.introduction %></p>
   <p class="middle_right_frame1_content2"><%= @info.profile %></p>
   <p class="middle_right_frame1_content2"><%= @info.company %></p>
   <div class="middle_right_frame1_icon">
       <h2>Follow Me</h2>
       <%= image_tag 'face.gif', :class=> 'icon_facebook' %>
       <%= image_tag 'in.gif', :class=> 'icon_in' %>
       <%= image_tag 'f.gif', :class=> 'icon_in' %>
   </div>
</div>
<%= image_tag 'prabhat.gif', :class => 'profilepic' %>